
<table text-align="center" border=1>
	<caption><%= $city_name %></caption>
	<tr>
		<td></td>
		<% item = $visualData["date"] %>
		<% 
			span_val = 1 
			last_item = nil
		%>
		<% item.each do |i_key, i_item| %>
			<% if last_item == nil %>
				<% last_item = i_item %>
			<% elsif last_item and (i_item != last_item) %>
				<%= raw("<td colspan=#{span_val}>" + last_item + "</td>") %>
				<% last_item = i_item %>
				<% span_val = 1 %>
			<% else %>
				<% span_val += 1 %>
			<% end %>
		<% end %>
		<%= raw("<td colspan=#{span_val}>" + last_item + "</td>") %>
	</tr>
	<tr>
		<td></td>
		<% item = $visualData["time"] %>
		<% item.each do |i_key, i_item| %>
			<td><%= i_item %></td>
		<% end %>
	</tr>
	<tr>
		<td>氣溫</td>
		<% item.each do |i_key, i_item| %>
			<td><%= $visualData["T"][i_key] != nil ? $visualData["T"][i_key] : "" %></td>
		<% end %>
	</tr>
	<tr>
		<td>降雨機率</td>
		<% 
			span_val = 1 
			last_item = nil
		%>
		<% item.each do |i_key, i_item| %>
			<% if $visualData["PoP6h"][i_key] != nil %>
				<%= raw("<td colspan=#{span_val}>") + last_item + raw("</td>") if last_item %>
				<% last_item = $visualData["PoP6h"][i_key].to_s %>
				<% span_val = 1 %>
			<% else %>
				<% span_val += 1 %>
			<% end %>
		<% end %>
		<%= raw("<td colspan=#{span_val}>") + last_item + raw("</td>") %>
	</tr>
	<tr>
		<td>降雨機率</td>
		<% 
			span_val = 1 
			last_item = nil
		%>
		<% item.each do |i_key, i_item| %>
			<% if $visualData["PoP"][i_key] != nil %>
				<%= raw("<td colspan=#{span_val}>") + last_item + raw("</td>") if last_item %>
				<% last_item = $visualData["PoP"][i_key].to_s %>
				<% span_val = 1 %>
			<% else %>
				<% span_val += 1 %>
			<% end %>
		<% end %>
		<%= raw("<td colspan=#{span_val}>") + last_item + raw("</td>") %>
	</tr>
	<tr>
		<td>天象</td>
		<% item.each do |i_key, i_item| %>
			<td><%= image_tag("weather_icon/#{$visualData["Wx"][i_key]}.gif")  %></td>
		<% end %>
	</tr>

</table>

