<div class='create-block'>
  <div class='create-content'>
    <% new_item = @book.items.new %>
    <%= form_for new_item, url: create_item_share_book_book_path do |f| %>
      <div class='item'>
        <%= label_tag :title, '項目：' %>
        <%= f.text_field :title, required: true %>
      </div>

      <div class='item item-price'>
        <%= label_tag :price, '金額：' %>
        <%= f.number_field :price %>
        <% switcher_tag = "switcher-book-#{@book.id}" %>
        <div class="switcher book-switcher">
          <%= f.check_box :sign, id: switcher_tag, checked:true %>
          <label for="<%=switcher_tag%>"></label>
        </div>
      </div>

      <div class='item full'>
        <%= label_tag :time, '時間' %>
        <%= f.date_select :time, { :default => DateTime.now }, {class: 'item-date'} %>
        <%= f.time_select :time, { :default => Time.now }, {class: 'item-date'} %>
        <span class='hint btn'>重置時間</span>
      </div>

      <hr>

      <div class='member'>
        <% @book.members.each do |member|%>
          <%= f.fields_for :flows, new_item.flows.build, multiple: true do |flow_field| %>
            <%= render partial: 'range_block', locals: { f: flow_field, member: member } %>
          <% end %>
        <% end %>
      </div>

      <div class='action'>
        <span id='btn-create-close' class='btn'>取消</span>
        <%= submit_tag '新增', class: 'btn' %>
      </div>
    <% end %>
  </div>
</div>
