<div class='range-block'>
  <% switcher_tag = "switcher-#{member.id}" %>
  <div class="switcher">
    <%= f.check_box :sign, id: switcher_tag, checked:true %>
    <label for="<%=switcher_tag%>"></label>
  </div>
  <%= f.hidden_field :member_id, value: member.id %>
  <%= f.number_field :number, class: 'flow' %>
  <%= f.label :name, "#{member.nick_name}", class: "member-nickname-#{member.id}" %>
</div>
