<div class='book setting'>
  <%= link_to "回帳本", share_book_book_path, class:'btn' %>

  <hr>

  <div class='setting-block'>
    <table>
      <tr>
        <th>
        </th>
        <th>
          成員名稱
        </th>
        <th>
          結餘
        </th>
      </tr>
      <% average = (@book.sum_price.to_f / @book.members.size).round(2) %>
      <% @book.members.each_with_index do |member, index| %>
        <tr class='member'>
          <td>
            <%= "->" if member.id == @current_member.id %>
          </td>
          <td>
            <%= "#{index+1}: #{member.nick_name}" %>
          </td>
          <td align='right'>
            <% diff = average-member.sum_price %>
            <span><%= ['','需補繳','可退款'][diff <=> 0] %><%= diff.abs.round(2) %></span>
          </td>
        </tr>
      <% end %>
    </table>

    <hr>

    <%= form_for ShareBook::Member.new, url: create_member_share_book_book_path do |f| %>
      <%= f.label :add_member, "新增成員：" %>
      <%= f.text_field :nick_name, required: true, class: 'input' %>
      <%= f.submit "新增", class: 'btn' %>
    <% end %>

    <hr>
  </div>
  <div class='setting-block'>
    <table>
      <caption>
        <%= label :currency, "貨幣" %>
      </caption>
      <tr>
        <td>
          <%= @book.currency_name %>
        </td>
        <td>
          1
        </td>
      </tr>
      <% @book.exchanges.each do |curr| %>
        <tr>
          <td>
            <%= curr.currency %>
          </td>
          <td>
            <%= render partial: 'common/editable', 
                locals: { t_label: '', t_url: update_exchange_share_book_book_path, t_content: curr.value, t_item: curr, t_attr: :value, t_id: curr.id } %>
          </td>
        </tr>
      <% end %>
    </table>

    <hr>

    <%= form_for ShareBook::Exchange.new, url: create_exchange_share_book_book_path do |f| %>
      <%= f.label :add_exchange, "新增幣別：" %> <br>
      <%= f.text_field :currency, placeholder: '幣別', required: true, class: 'input' %> <br>
      <%= f.number_field :value, placeholder: '匯率', step: '0.001', required: true, class: 'input' %> <br>
      <%= f.submit "新增", class: 'btn' %>
    <% end %>

    <hr>
  </div>

</div>