<div class='book'>
  <div class='menu-icon'>
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
  <div class='menu'>
    <div>
      <%= label_tag :token, "Token: " %>
      <span><%= @book.token %></span>
    </div>
    <div>
      <%= label_tag :key, "Key: " %>
      <span><%= @current_member.key %></span>
    </div>

    <div class='action'>
      <%= link_to '設定', members_share_book_book_path, class:'btn fit' %>
      <%= link_to '登出', logout_share_book_book_path, class:'btn fit' %>
    </div>
    
  </div>

  <div class='content'>
    <div class='info wrapper'>
      <div class='info-item'>
        <%= render partial: 'common/editable', 
            locals: { t_label: '帳本名稱：', t_content: @book.name, t_item: @book, t_attr: :name } %>
      </div>

      <div class='info-item'>
        <%= render partial: 'common/editable', 
            locals: { t_label: '成員名稱：', t_url: update_member_share_book_book_path, t_content: @current_member.nick_name, t_item: @current_member, t_attr: :nick_name } %>
      </div>
    </div>

    <div class='info wrapper'>
      <div class='info-item'>
        <%= label :item, '帳本結餘：' %>    
        <span class='<%= bound_str @book.balance, true %>'><%= ['','盈餘','虧損'][@book.balance <=> 0] %><%= @book.balance.abs %></span>
      </div>
      <div class='info-item'>
        <%= label :item, '帳本支出：' %>   
        <span class='in-bound'>■</span>
        &nbsp;
        <%= label :item, '帳本收入：' %>   
        <span class='out-bound'>■</span>
      </div>
    </div>

    <div class='info wrapper'>
      <div class='info-item'>
        <%= label :currency, '主要幣別：' %>   
        <span><%= @book.currency_name %></span>        
      </div>
    </div>

    <hr>

    <div class='item-table wrapper'>
      <div class='item-table-row'>
        <span class='time'><%= label :item, '時間' %></span>
        <span class='title'><%= label :item, '品項' %></span>
        <span class='price money'><%= label :item, '價格' %></span>
        <% @book.members.each do |member| %>
          <span class='member-nickname-<%=member.id%> money'><%= member.nick_name %></span>
        <% end %>
        <span class='del'><%= label :item, '' %></span>
      </div>
      <% @book.items.each do |item| %>
        <div class='item-table-row'>
          <span><%= item.time_str %></span>
          <span><%= item.title %></span>
          <span class='money <%= bound_str item.price %>'>
            <%= tri_selector(['','支','收'], item.price) %>&nbsp;<%= item.price.abs %>
            <%= "(#{item.exchange_name})" if item.exchange_id.present? %>
          </span>
          <% @book.members.each do |member| %>
            <% flow_num = item.member_flow_num(member) %>
            <span class='money <%= bound_str flow_num, true %>'>
              <%= flow_num.abs %>
            </span>
          <% end %>
          <span class='del'><%= link_to '╳', delete_item_share_book_book_path(item_id: item.id), class: 'btn-del', :method => :delete %></span>
        </div>
      <% end %>
      <div class='item-table-row'>
        <span>總計</span>
        <span></span>
        <span class='money <%= bound_str @book.sum_price %>'>
          <%= tri_selector(['','支','收'], @book.sum_price) %>&nbsp;<%= @book.sum_price.abs %>
        </span>
        <% @book.members.each do |member| %>
          <span class='money <%= bound_str member.sum_price, true %>'><%= member.sum_price.abs %></span>
        <% end %>
        <span></span>
      </div>
      <br>
      <div class='item-table-row end-row'>
        <span>分帳</span>
        <span></span>
        <span></span>
        <% average = (@book.sum_price.to_f / @book.members.size).round(2) %>
        <% @book.members.each do |member| %>
          <% diff = average-member.sum_price %>
          <span class='money <%= bound_str diff %>'>
            <%= ['','需補繳','可退款'][diff <=> 0] %><%= diff.abs.round(2) %>
          </span>
        <% end %>
      </div>
    </div>

    <hr>

    <%= render partial: 'create_block' %>

    <span id='btn-create-popup' class='btn'>新增項目</span>
    
  </div>
</div>