// Place all the styles related to the ShareBook::Book controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'share_book/color';

div.editable {
  display: inline-block;

  form {
    input[type=text] {
      width: auto;
      border: none;
      background: transparent;
      border: 1px solid transparent;
      border-bottom: 1px solid $cl-word;
      font-size: 16px;
      &:focus {
        outline-style: none;
        border: 1px solid $cl-word;
      }
    }
    input[type=submit] {
      display: none;
    }
  }
}

@media screen and (max-width: 1080px) {
  div.editable {
    form {
      input[type=text] {
        font-size: 3vw;
      }
    }
  }
}