<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Clouds</title>
		<meta charset="utf-8">
		<style type="text/css">

			body {
				background-color: #326696;
				margin: 0px;
				overflow: hidden;
				font-family:Monospace;
				font-size:13px;
				text-align:center;
				font-weight: bold;
				text-align:center;
			}

			a {
				color:#0078ff;
			}

		</style>
	</head>
	<body>


		<script id="vs" type="x-shader/x-vertex">

			varying vec2 vUv;

			void main() {

				vUv = uv;
				gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );

			}

		</script>

		<script id="fs" type="x-shader/x-fragment">

			uniform sampler2D map;

			uniform vec3 fogColor;
			uniform float fogNear;
			uniform float fogFar;

			varying vec2 vUv;

			void main() {

				float depth = gl_FragCoord.z / gl_FragCoord.w;
				float fogFactor = smoothstep( fogNear, fogFar, depth );

				gl_FragColor = texture2D( map, vUv );
				gl_FragColor.w *= pow( gl_FragCoord.z, 20.0 );
				gl_FragColor = mix( gl_FragColor, vec4( fogColor, gl_FragColor.w ), fogFactor );

			}

		</script>

		<script type="text/javascript">

			if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

			var container;
			var bgCanvas, scene, renderer;
			var cameraOrtho, sceneOrtho;
			var mesh, geometry, material;

			var maskCanvas, maskContext, maskTexture, maskMaterial;

			var mouseX = 0, mouseY = 0;
			var start_time = Date.now();
			var hour = (start_time/3600000+8)%24;

			var windowHalfX = window.innerWidth / 2;
			var windowHalfY = window.innerHeight / 2;

			init();

			function init() {
				var SCREEN_WIDTH = window.innerWidth;
				var SCREEN_HEIGHT = window.innerHeight;

				container = document.createElement( 'div' );
				document.body.appendChild( container );

				scene = new THREE.Scene();

				cameraOrtho = new THREE.OrthographicCamera( - SCREEN_WIDTH / 2, SCREEN_WIDTH / 2, SCREEN_HEIGHT / 2, - SCREEN_HEIGHT / 2, 1, 10 );
				cameraOrtho.position.z = 10;

				sceneOrtho = new THREE.Scene();

				// Background

				var size = 32;
				var bgCanvas = document.createElement( 'canvas' );
				bgCanvas.width = size;
				bgCanvas.height = size;

				var context = bgCanvas.getContext( '2d' );

				context.rect( 0, 0, size, size );
				gradient = context.createLinearGradient( 0, 0, 0, size );
				gradient.addColorStop(0, "#1e4877");
				gradient.addColorStop(0.5, "#4584b4");
				context.fillStyle = gradient;
				context.fill();

				var texture = new THREE.Texture( bgCanvas );
				texture.needsUpdate = true;

				scene.background = texture;

				// Clouds

				camera = new THREE.PerspectiveCamera( 30, SCREEN_WIDTH / SCREEN_HEIGHT, 1, 3000 );
				camera.position.z = 6000;

				geometry = new THREE.Geometry();

				var texture = new THREE.TextureLoader().load( '<%= asset_path "cloud10.png" %>', animate );
				texture.magFilter = THREE.LinearMipMapLinearFilter;
				texture.minFilter = THREE.LinearMipMapLinearFilter;

				var fog = new THREE.Fog( 0x4584b4, - 100, 3000 );

				material = new THREE.ShaderMaterial( {

					uniforms: {

						"map": { type: "t", value: texture },
						"fogColor" : { type: "c", value: fog.color },
						"fogNear" : { type: "f", value: fog.near },
						"fogFar" : { type: "f", value: fog.far },

					},
					vertexShader: document.getElementById( 'vs' ).textContent,
					fragmentShader: document.getElementById( 'fs' ).textContent,
					depthWrite: false,
					depthTest: false,
					transparent: true,
				} );

				var plane = new THREE.Mesh( new THREE.PlaneGeometry( 64, 64 ) );

				for ( var i = 0; i < 8000; i++ ) {

					plane.position.x = Math.random() * 1000 - 500;
					plane.position.y = - Math.random() * Math.random() * 200 - 15;
					plane.position.z = i;
					plane.rotation.z = Math.random() * Math.PI;
					plane.scale.x = plane.scale.y = Math.random() * Math.random() * 1.5 + 0.5;

					plane.updateMatrix();
					geometry.merge(plane.geometry, plane.matrix);

				}

				mesh = new THREE.Mesh( geometry, material );
				scene.add( mesh );

				mesh = new THREE.Mesh( geometry, material );
				mesh.position.z = - 8000;
				scene.add( mesh );


				// Day light Mask

				var size = 32;
				maskCanvas = document.createElement( 'canvas' );
				maskCanvas.width = size;
				maskCanvas.height = size;

				maskContext = maskCanvas.getContext( '2d' );

				maskContext.rect( 0, 0, size, size );
				maskContext.fillStyle = "#014";
				maskContext.fill();

				maskTexture = new THREE.Texture( maskCanvas );
				maskTexture.needsUpdate = true;

				maskMaterial = new THREE.SpriteMaterial( { map: maskTexture } );
				maskSprite = new THREE.Sprite( maskMaterial );
				maskSprite.scale.set( SCREEN_WIDTH, SCREEN_HEIGHT, 1 );
				sceneOrtho.add( maskSprite );

				var width = SCREEN_WIDTH / 2;
				var height = SCREEN_HEIGHT / 2;
				maskSprite.position.set(0, 0, 1 );

				updateDayMask();


				renderer = new THREE.WebGLRenderer( { antialias: false } );
				renderer.setSize( SCREEN_WIDTH, SCREEN_HEIGHT );
				renderer.autoClear = false;
				container.appendChild( renderer.domElement );

				document.addEventListener( 'mousemove', onDocumentMouseMove, false );
				window.addEventListener( 'resize', onWindowResize, false );

			}

			function onDocumentMouseMove( event ) {

				mouseX = ( event.clientX - windowHalfX ) * 0.25;
				mouseY = ( event.clientY - windowHalfY ) * 0.15;

			}

			function onWindowResize( event ) {
				var SCREEN_WIDTH = window.innerWidth;
				var SCREEN_HEIGHT = window.innerHeight;

				renderer.setSize( SCREEN_WIDTH, SCREEN_HEIGHT );

				camera.aspect = SCREEN_WIDTH / SCREEN_HEIGHT;
				camera.updateProjectionMatrix();
			}

			function updateDayMask() {
				var hour = (start_time/3600000+8)%24;
				if (hour >= 5 && hour < 7) {
					maskMaterial.opacity = (7 - hour)*0.4;
				} else if (hour >= 7 && hour < 17) {
					maskMaterial.opacity = 0;
				} else if (hour >= 17 && hour < 19) {
					maskMaterial.opacity = (hour - 17)*0.4;
				} else {
					maskMaterial.opacity = 0.8;
				}
			}

			function animate() {

				requestAnimationFrame( animate );

				updateDayMask();
	
				position = ( ( Date.now() - start_time ) * 0.03 ) % 8000;

				camera.position.x += ( mouseX - camera.position.x ) * 0.01;
				camera.position.y += ( - mouseY - camera.position.y ) * 0.01;
				camera.position.z = - position + 8000;

				renderer.clear();
				renderer.render( scene, camera );

				renderer.clearDepth();
				renderer.render( sceneOrtho, cameraOrtho );
			}

		</script>
	</body>
</html>
