@import 'share_book/color';

.create-block {
  display: none;
  position: fixed; 
  background: $cl-bg-blur;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  .create-content {
    background: $cl-bg-h;
    position: relative;
    top: 45%;
    width: 600px;
    transform: translate(0%, -50%);
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 10px 20px;

    form {
      input[type=text], input[type=number], select {
        background: $cl-bg-l;
        border: 1px solid transparent;
        border-radius: 0;
        &:focus {
          outline-style: none;
          border: 1px solid $cl-word;
        }
      }

      .item {
        display: inline-block;
        margin: 4px 0;
        width: 49%;

        &.full {
          width: 100%;
        }

        .hint {
          margin-left: 10px;
          font-size: 10px;
        }
      }

      .book-switcher {
        display: inline-block;
        vertical-align: middle;
        &:before {
          content: '支出';
        }
        &:after {
          content: '收入';
        }
        &.rwd {
          display: none;
        }
        &.dsk {
          display: display;
        }
      }

      .member {
        max-height: 320px;
        overflow-y: scroll;

        .range-block {
          margin: 4px 0;
          .switcher {
            vertical-align: middle;
            display: inline-block;

            &:before {
              content: '繳錢';
              color: $cl-outbound;
            }
            &:after {
              content: '花費';
              color: $cl-inbound;
            }
          }
          > label {
            margin: 0 5px;
          }
        }

      }

      .action {
        position: absolute;
        right: 10px;
        bottom: 10px;        
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .create-block {
    .create-content {
      top: 50%;
      width: 90%;

      form {
        font-size: 4vw;
        input[type=text], input[type=number], select {
          font-size: 4vw;
          max-width: 38vw;
        }
        .item {
          width: 40%;
          .hint {
            font-size: 3vw
          }
          input {
            max-width: 20vw;
          }
          &.item-price {
            width: 55%;
          }
        }

        .book-switcher {
          vertical-align: sub;
        }

        .member {
          max-height: 28vw;
          overflow-y: scroll;

          .range-block {
            margin: 1vw 0;
            input {
              max-width:20vw;
            }
            > label {
              margin: 0 1vw;
            }
          }
        }
        .action {
          font-size: 5vw;
        }
      }
    }
  }
}
