@import 'share_book/color';

.switcher {
  width: 74px;
  height: 20px;
  position: relative;
  border: 1px solid $cl-word;
  border-radius: 5px;
  &:after, &:before {
    position: absolute;
    z-index: 0;
    font: 12px/20px Arial, sans-serif;
    font-weight: bold;
  }
  &:after {
    content: 'ON';
    color: $cl-outbound;
    right: 8px;
  }
  &:before {
    content: 'OFF';
    color: $cl-inbound;
    left: 8px;
  }
  label {
    display: block;
    width: 32px;
    height: 18px;
    cursor: pointer;
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 1;
    background: $cl-word;
    border-radius: 5px;
    transition: all 0.2s ease;
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label {
      left: 41px;
    }
  }
}

@media screen and (max-width: 1080px) {
.switcher {
  width: 15vw;
  height: 4vw;
  &:after, &:before {
    font: 2.4vw/4vw Arial, sans-serif;
  }
  &:after {
    right: 1.6vw;
  }
  &:before {
    left: 1.6vw;
  }
  label {
    width: 6.4vw;
    height: 3.6vw;
    top: .2vw;
    left: .2vw;
  }
  input[type=checkbox] {
    &:checked + label {
      left: 8.2vw;
    }
  }
}
}