.sysmsg {
    display: none; 
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */

  .sysmsg-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #DDD;
    top: 50%;
    width: 400px;
    max-width: 400px;
    transform: translate(0%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 0.4s;
    animation-name: fadein;
    animation-duration: 0.4s;
    &.small {
      width: fit-content;
    }
    .sysmsg-header {
      padding: 22px;
      background-color: #FAFAFA;
      color: #2E3641;
      .title {
        font-size: 20px;
        font-weight: 500;
      }
      .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 40px;
        color: #999999;
      }
    }  
    .sysmsg-body {
      margin: 20px 30px;
      font-size: 16px;
      line-height: 1.6;
      word-wrap: break-word;
      .message {
        color: #666666;
      }
      .err-message { 
        color: #FF4D67;
      }
    }
    .sysmsg-footer {
      padding: 8px 0 30px 0;
      .oux-btn {
        margin: 0 6px;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .sysmsg {
    .sysmsg-content {
      max-width: 80%;
      .sysmsg-body {
        font-size: 6vmin;
      }
    }
  }
}