// Place all the styles related to the ShareBook::Book controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'share_book/color';

.wrapper {
  display: table;
  width: 100%;
  div {
    display: table-cell;
  }
}

.book {
  text-aligment: center;

  .btn {
    background: transparent;
    border: 1px solid $cl-word-h;
    color: $cl-word-h;
    cursor: pointer;
    padding: 0 8px;
    font-size: 16px;
    text-decoration: none;
    &:hover {
      border: 1px solid $cl-word;
      color: $cl-word;
    }
    &.fit {
      width: 70px;
      display: inline-block;
      text-align: center;
    }
  }

  .input {
    background: white;
    border: 1px solid transparent;
    border-radius: 0;
    &:focus {
      outline-style: none;
      border: 1px solid $cl-word;
    }
  }

  .menu-icon {
    display: block;
    position: fixed; 
  }

  .menu {
    position: fixed; 
    top: 0px;
    right: 0px;
    box-shadow: 0 4px 0 0 rgba(0,0,0,0.2),0 0 4px 0 rgba(0,0,0,0.19);
    padding: 20px 10px;
    width: 200px;
    background: $cl-bg-m;
    div {
      margin: 6px 0;
      &.action {
        margin-top: 16px;
      }
    }
  }

  .content {
    max-width: 1024px;
    margin: 10px auto;

    .info {
      padding: 4px 0;
      .info-item {
        display: inline-block;
        width: 50%;
      }
    }

    .in-bound {
      color: $cl-inbound;
    }
    .out-bound {
      color: $cl-outbound;
    }

    .item-table {
      display: table;

      .item-table-row {
        display: table-row;

        span {
          display: table-cell;
          padding: 4px;
          vertical-align: middle;
          border-bottom: 1px solid $cl-word-l;
        }

        .time {
          width: 50px;
        }
        .title {
          width: 160px;
        }
        .price {
          width: 100px;
        }
        .del {
          width: 40px;
          text-align: center;

          a.btn-del {
            text-decoration: none;
            &:hover{
              font-size: 20px;            
            }
          }
        }

        .money {
          text-align: right;
        }

        &.end-row {
          span {
            border: 0px;        
          }
        }
      }
    }  
  }
}

@media screen and (max-width: 1080px) {
  .book {
    label, span {
      font-size: 3vw;
    }

    .btn {
      font-size: 4vw;
      &.fit {
        width: 20vw;
      }
    }

    .input {
      font-size: 4vw;
      max-width: 38vw;
    }

    .menu-icon {
      top: 0px;
      right: 0px;
      cursor: pointer;
      margin: 4px;
      z-index: 99;

      .bar1, .bar2, .bar3 {
        width: 6vw;
        height: .8vw;
        background-color: #333;
        margin: 1vw 0;
        transition: 0.2s;
      }
      .change.bar1 {
          -webkit-transform: rotate(-45deg) translate(-1vw, 1vw) ;
          transform: rotate(-45deg) translate(-1vw, 1vw) ;
      }
      /* Fade out the second bar */
      .change.bar2 {
          opacity: 0;
      }
      /* Rotate last bar */
      .change.bar3 {
          -webkit-transform: rotate(45deg) translate(-1.5vw, -1.5vw) ;
          transform: rotate(45deg) translate(-1.5vw, -1.5vw) ;
      }
    }
    .menu {
      padding: 5vw 3vw;
      width: 50vw;
      label, span {
        font-size: 4vw;
      }
      div {
        margin: 1vw 0;
        &.action {
          margin-top: 4vw;
        }
      }
    }
    .content {
      .info-item {
        label {
          font-size: 3vw;
        }
      }
    }
    .item-table {
      font-size: 3vw;
    }
  }

  table {
    td {
      padding: 0 3vw;
    }
    font-size: 3vw;
  }

}
