// Place all the styles related to the ShareBook::Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'share_book/color';

.index {
  position: fixed; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  .container {
    background: $cl-bg-h;
    position: relative;
    top: 45%;
    width: 400px;
    transform: translate(0%, -50%);
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 10px 20px;

    .head {
      text-align: center;
      
      .title {
        font-size: 40px;
        font-weight: 500;
      }

      .version {
        position: absolute;
        top: 40px;
        margin: 0 10px;
        color: #008800;
      }
    }

    input {
      box-sizing: border-box;
      margin: 6px 0;
      width: 100%;
      border: 0px;
      line-height: 36px;
      padding: 0 10px;
      font-size: 16px;
      &::placeholder {
        color: $cl-word;
      }
      &:focus {
        outline-style: none;
        &::placeholder {
          color: $cl-word-l;
        }
      }
    }
    .btn-login {
      background: $cl-bg-l;
      color: $cl-word-h;
      transition: .2s;
      &:hover {
        background: $cl-word;
        color: #FFF;
      }
    }

    .foot {
      margin: 10px 0 0;
      width: 100%;

      .btn {
        color: $cl-word;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      .login-log {
        float: right;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .index {
    .container {
      width: 80%;
      .head {
        .title {
          font-size: 11vw;
        }
        .version {
          top: 10vw;
          font-size: 3vw;
        }
      }

      input {
        margin: 1vh 0;
        line-height: 8vw;
        padding: 0 3vw;
        font-size: 5vw;
      }

      .foot {
        margin: 2vh 0 0;
        .btn {
          font-size: 4vw;
        }
        .login-log {
          margin-top: 1vw;
          font-size: 3vw;
          .btn {
            font-size: 3vw;
          }
        }
      }
    }
  }
}