// Place all the styles related to the m_weather controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table {
	border-collapse: collapse;
	width: 100%;
}
td 
{
    text-align:center; 
    vertical-align:middle;
}