<div class='index'>
  <div class='container'>
    <div class='head'>
      <span class='title'>分帳系統</span><span class='version'>alpha ver.</span>
    </div>
    <%= form_tag share_book_login_path, remote: true do %>
      <%= text_field_tag :token, nil, placeholder: :token, required: true %>
      <%= text_field_tag :key, nil, placeholder: :key, required: true %>
      <%= submit_tag "登 入", class: 'btn-login' %>
    <% end %>
    <div class='foot'>
      <%= link_to "建立新帳本", share_book_create_book_path, class: 'btn' %>
      <% if @old_member.present? %>
        <div class='login-log'>
          上次登入：
          <%= link_to share_book_login_path(token: @old_member.book.token, key: @old_member.key), method: :post, class: 'btn' do %>
            <%= @old_member.book.name %>
            <%= "(#{@old_member.nick_name})" if @old_member.book.name.size + @old_member.nick_name.size < 20 %>
          <% end %>
          <%= link_to 'X', share_book_reset_path, method: :post, class: 'btn', style: 'color: #EEAE86;' %>
        </div>
      <% end %>
    </div>
  </div>
</div>