<% user_display_type_len_threshold = 4 %>

<h1><%= @relation.account.name %></h1>

<% user_len = @relation.account.uarelations.length %>
<% rel_map = @relation.account.uarelations.map {|rel| rel.id} %>
<table align="center" style='max-width:800px;' >
	<thead>
		<tr>
			<th width=15%>時間</th>
			<th width=5%>分類</th>
			<th width=30%>項目</th>
			<th></th>
			<th></th>
			<% if user_len < user_display_type_len_threshold %>
				<% @relation.account.uarelations.each do |rel| %>
					<th width=<%= 50/user_len %>%><%= rel.user.name %></th>
				<% end %>
			<% else %>
				<th width=25%>歸屬人</th>
				<th width=25%>金額</th>
			<% end %>
			<th width=50></th>
		</tr>
	</thead>
	<tbody>
		<% tfs = '%Y %b %d %a %H:%M:%S' %>
		<% if user_len < user_display_type_len_threshold %>
			<% @relation.account.items.each do |item| %>
				<% case item.mode %>
				<% when 'outlay' %>
					<% color = 'green' %>
					<% mode_span = 1 %>
				<% when 'income' %>
					<% color = 'red' %>
					<% mode_span = 1 %>
				<% when 'complex' %>
					<% color = 'yellow' %>
					<% mode_span = 2 %>
				<% when 'advance' %>
					<% color = 'purple' %>
					<% mode_span = 2 %>
				<% else %>
					<% mode_span = 1 %>
				<% end %>
				<tr>
					<td rowspan=<%= mode_span %>><%= item.timestamp.strftime(tfs) %></td>
					<td rowspan=<%= mode_span %>><%= item.tag_id ? item.tag.name : '' %></td>					
					<td rowspan=<%= mode_span %>><%= item.name %></td>
					<td rowspan=<%= mode_span %> colspan=<%= 3-mode_span %> bgcolor=<%= color %>>-</td>
					<% if mode_span != 1 %>
						<td bgcolor='red'>-</td>
					<% end %>
					<% rel_map.each do |rel_id| %>
						<% if mode_span != 1 %>
							<% flow = @relation.account.flows.find_by_sql(["SELECT * FROM share_money_flows f WHERE f.relation_id = ? AND f.item_id = ? AND f.num > 0", rel_id, item.id])[0] %></td>
						<% else %>
							<% flow = @relation.account.flows.find_by(:relation_id => rel_id, :item_id => item.id) %></td>
						<% end %>
						<% if flow and flow.num  %>
							<td><%= flow.num > 0 ? "存入#{flow.num}" : "花費#{-flow.num}" %></td>
						<% else %>
							<td></td>
						<% end %>
					<% end %>
					<td rowspan=<%= mode_span %>><%= link_to 'delete', url_for(:controller => 'share_money_account', :action => 'destroyitem', :id => item.id, :rid => @relation.id), data:{method: "delete"} %></td>
				</tr>
				<% if mode_span != 1 %>
					<tr>
						<td bgcolor='green'>-</td>
						<% flows = @relation.account.flows.find_by_sql(["SELECT * FROM share_money_flows f WHERE f.item_id = ? AND f.num < 0", item.id]) %>
						<% if flows.length != 1 and flows.map{|f| f.num}.uniq.length == 1 %>
							<td colspan=<%= flows.length %>><%= "共同" + (flows[0].num>0 ? "存入" : "花費")%><%= (-flows[0].num*flows.length).to_s + "(#{-flows[0].num}/人)" %></td>
						<% else %>
							<% rel_map.each do |rel_id| %>
								<% flow = @relation.account.flows.find_by_sql(["SELECT * FROM share_money_flows f WHERE f.relation_id = ? AND f.item_id = ? AND f.num < 0", rel_id, item.id])[0] %></td>
								<% if flow %>
									<td><%= flow.num > 0 ? "存入#{flow.num}" : "花費#{-flow.num}" %></td>
								<% else %>
									<td></td>
								<% end %>
							<% end %>

						<% end %>
					</tr>
				<% end %>
			<% end %>
			<tr>
				<td colspan=5>總計</td>
				<% @relation.account.uarelations.each do |rel| %>
					<td><%= rel.flows.sum(:num) %></td>
				<% end %>
				<td></td>
			</tr>
		<% else %>
			<% @relation.account.items.each do |item| %>
				<tr>
					<% p_val_arr = item.flows.find_by_sql(["SELECT * FROM share_money_flows f WHERE f.item_id = ? AND f.num > 0", item.id]) %>
					<% n_val_arr = item.flows.find_by_sql(["SELECT * FROM share_money_flows f WHERE f.item_id = ? AND f.num < 0", item.id]) %>
					<% p_len = (p_val_arr.map {|f| f.num}.uniq.length == 1) ? 1 : p_val_arr.length %>
					<% n_len = (n_val_arr.map {|f| f.num}.uniq.length == 1) ? 1 : n_val_arr.length %>
					<% mode_span = p_len+n_len %>
					<td rowspan=<%= mode_span %>><%= item.timestamp.strftime(tfs) %></td>
					<td rowspan=<%= mode_span %>><%= item.tag_id ? item.tag.name : '' %></td>					
					<td rowspan=<%= mode_span %>><%= item.name %></td>
					<% flow = item.flows[0] %>
					<% if mode_span == 1 %>
						<% color = flow.num > 0 ? 'red' : 'green' %>
						<td colspan=2 bgcolor=<%= color %>>-</td>
						<% if item.flows.length == 1 %>
							<td><%= flow.relation.user.name %></td>
							<td><%= flow.num > 0 ? "存入#{flow.num}" : "花費#{-flow.num}" %></td>
						<% else %>
							<td><%= "共同" + (flow.num>0 ? "存入" : "花費")%></td>
							<td><%= (flow.num*item.flows.length).to_s + "(#{flow.num}/人)" %></td>
						<% end %>
					<% else %>
						<% color = mode_span == 2 ? 'yellow' : 'purple' %>
						<td rowspan=<%= mode_span %> bgcolor=<%= color %>>-</td>
						<td bgcolor='red'>-</td>
						<% if p_val_arr.length != 1 and p_len == 1 %>
							<td><%= "共同" + (flow.num>0 ? "存入" : "花費")%></td>
							<td><%= (flow.num*p_val_arr.length).to_s + "(#{flow.num}/人)" %></td>
						<% else %>
							<td><%= flow.relation.user.name %></td>
							<td><%= flow.num > 0 ? "存入#{flow.num}" : "花費#{-flow.num}" %></td>
						<% end %>
					<% end %>

					<%if false %>
					<td colspan=2>
						-
						<% item.flows.each do |flow| %>
							<%= flow.relation.user.name %>
							<%= flow.num %>
							-
						<% end %>
					</td>
					<% end %>
					<td rowspan=<%= mode_span %>><%= link_to 'delete', url_for(:controller => 'share_money_account', :action => 'destroyitem', :id => item.id, :rid => @relation.id), data:{method: "delete"} %></td>
				</tr>
				<% if mode_span != 1 %>
					<% (2..p_len).each do |p_index| %>
						<tr>
							<% flow = p_val_arr[p_index] %>
							<td bgcolor='red'>-</td>
							<td><%= flow.relation.user.name %></td>
							<td><%= flow.num > 0 ? "存入#{flow.num}" : "花費#{-flow.num}" %></td>
						</tr>
					<% end %>
					<% if n_val_arr.length != 1 and n_len == 1 %>
						<% flow = n_val_arr[0] %>
						<td bgcolor='green'>-</td>
						<td><%= "共同" + (flow.num>0 ? "存入" : "花費")%></td>
						<td><%= (-flow.num*n_val_arr.length).to_s + "(#{-flow.num}/人)" %></td>
					<% else %>
						<% (1..n_len).each do |n_index| %>
							<tr>
								<% flow = n_val_arr[n_index] %>
								<td bgcolor='red'>-</td>
								<td><%= flow.relation.user.name %></td>
								<td><%= flow.num > 0 ? "存入#{flow.num}" : "花費#{-flow.num}" %></td>
							</tr>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
		<% if user_len < user_display_type_len_threshold %>
		<% end %>
	</tbody>
</table>

<br>

<% if user_len >= user_display_type_len_threshold %>
	<table align="center" style='max-width:800px;' >
		<tr>
			<% @relation.account.uarelations.each do |rel| %>
				<td><%= rel.user.name %></td>
			<% end %>
		</tr>
		<tr>
			<% @relation.account.uarelations.each do |rel| %>
				<td><%= rel.flows.sum(:num) %></td>
			<% end %>
		</tr>
	</table>
<% end %>
<br>
<% #金額結算 %>
<% #average_price = @relation.account.items.sum(:price) / @relation.account.users.length %>
<table align="center" style='max-width:400px;' >
	<% @relation.account.uarelations.each do |rel| %>
		<tr>
			<td><%= rel.user.name %></td>
			<td>
				<% price = rel.flows.sum(:num) %>
				<% if price > 0 %>
					<%= "退費#{price}元" %>
				<% elsif price < 0 %>
					<%= "繳交#{-price}元" %>
				<% else %>
					<%= "已達平均" %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>
<br>
<br>
<hr>
<p>
	<h1>New Item</h1>
	<%= form_for @item, :url => { :controller => 'share_money_account', :action => 'createitem' }, :method => :POST do |f| %>
		<div style='display:block;'>
			<%= f.date_select :timestamp %>
			<%= f.time_select :timestamp, :ignore_date => true %>
			<br>
		    <br>
			<%= f.label :tag_id, "分類" %>
		    <%= f.select :tag_id, options_for_select(ShareMoneyTag.all.collect { |tag| [tag.name, tag.id] }.sort_by{|t|t[1]}), :style => "width:70px;" %>
			<%= f.label :name, "項目名稱" %>
		    <%= f.text_field :name, required: true %>
			<%= f.label :price, "金額" %>
		    <%= f.text_field :price, type: "number", required: true %>
			<%= f.label :currency_id, "幣別" %>
		    <%= f.select :currency_id, options_for_select(ShareMoneyCurrency.all.collect { |c| [c.country, c.id] }), :style => "width:70px;" %>
			<%= f.hidden_field :account_id, :value => @relation.account_id %>
		</div>
		<div style='display:block;'>
			<%= f.radio_button :mode, "outlay", {:class => "item_mode__atu item_mode__atu_outlay", :checked => true} %>
			<%= label :item_mode_outlay, '支出' %>
			<%= f.radio_button :mode, "income", {:class => "item_mode__atu item_mode__atu_income"} %>
			<%= label :item_mode_income, '收入' %>
			<%= f.radio_button :mode,  "complex", {:class => "item_mode__atu item_mode__atu_complex"} %>
			<%= label :item_mode_complex, '代出' %>
			<%= f.radio_button :mode, "advance", {:class => "item_mode__atu item_mode__atu_advance"} %>
			<%= label :item_mode_advance, '進階' %>
			<div class="item_mode_switch" id="item_mode_income" style="display:none">
				出資方式：
				<%= radio_button_tag("founder", "single", true, {:class => "founder__atu founder__atu_single"}) %>
				<%= label :founder_single, '單人' %>
				<%= radio_button_tag("founder", "average", false, {:class => "founder__atu founder__atu_average"}) %>
				<%= label :founder_average, '平均' %>
				<%= radio_button_tag("founder", "advance", false, {:class => "founder__atu founder__atu_advance", disabled: true}) %>
				<%= label :founder_advance, '進階' %>
				<span class="founder_switch" id="founder_single" style="display:">
				    <%= f.label :flow, "出資者" %>
				    <%= select_tag :flow_founder, options_for_select(@relation.account.uarelations.collect { |rel| [rel.user.name, rel.id] }), :style => "width:170px;" %>
				</span>
				<span class="founder_switch" id="founder_average" style="display:none">
					平均出資
			    </span>
				<span class="founder_switch" id="founder_advance" style="display:none">
					平均出資
			    </span>
			</div>
			<div class="item_mode_switch" id="item_mode_outlay" style="display:block">
				耗資方式：
				<%= radio_button_tag("spender", "single", false, {:class => "spender__atu spender__atu_single"}) %>
				<%= label :spender_single, '單人' %>
				<%= radio_button_tag("spender", "average", true, {:class => "spender__atu spender__atu_average"}) %>
				<%= label :spender_average, '平分' %>
				<%= radio_button_tag("spender", "advance", false, {:class => "spender__atu spender__atu_advance", disabled: true}) %>
				<%= label :spender_advance, '進階' %>
				<span class="spender_switch" id="spender_single" style="display:none">
				    <%= f.label :flow, "出資者" %>
				    <%= select_tag :flow_spender, options_for_select(@relation.account.uarelations.collect { |rel| [rel.user.name, rel.id] }), :style => "width:170px;" %>
				</span>
				<span class="spender_switch" id="spender_average" style="display:">
					平均耗資
			    </span>
				<span class="spender_switch" id="spender_advance" style="display:none">
					平均耗資
			    </span>
			</div>
		</div>
	    <br>
	    <%= f.submit "Create", rid: @relation.id %>
	<% end %>
</p>
<br>
<hr>
<p>
	<%= form_for ShareMoneyUaRelation.new, :url => { :controller => 'share_money_account', :action => 'createrel' }, :method => :POST do |f| %>
		<%= f.label :user_id, "新增帳本用戶" %>
		<%= text_field_tag :user_name, '', required: true %>
	    <!-- <%= f.text_field :user_id, required: true %> -->
		<%= f.hidden_field :account_id, :value => @relation.account_id %>
	    <%= f.submit "Create", rid: @relation.id %>
	<% end %>
	<br>
	<%= link_to '回帳本列表', url_for(:controller => 'share_money_account', :action => 'index') %>
</p>

<script>
	$(".item_mode__atu").on("change", function() {
		var checked_val = $('input[name=share_money_item\\[mode\\]]:checked').val();
		var outlay_visiable = (checked_val=='outlay'||checked_val=='advance'||checked_val=='complex');
		$(".item_mode_switch#item_mode_outlay").css('display', (outlay_visiable?'block':'none'));
		var income_visiable = (checked_val=='income'||checked_val=='advance'||checked_val=='complex');
		$(".item_mode_switch#item_mode_income").css('display', (income_visiable?'block':'none'));
		if (checked_val=='complex') {
			$('input[name=founder][value=single]').prop('checked', true);
			$('input[name=founder][value=average]').prop('disabled', true);
			$(".founder_switch#founder_single").css('display', '');
			$(".founder_switch#founder_average").css('display', 'none');
		} else {
			$('input[name=founder][value=average]').prop('disabled', false);			
		}
	});
	$(".founder__atu").on("change", function() {
		var checked_val = $('input[name=founder]:checked').val();
		$(".founder_switch#founder_single").css('display', ((checked_val=='single')?'':'none'));
		$(".founder_switch#founder_average").css('display', ((checked_val=='average')?'':'none'));
		$(".founder_switch#founder_advance").css('display', ((checked_val=='advance')?'':'none'));
	});
	$(".spender__atu").on("change", function() {
		var checked_val = $('input[name=spender]:checked').val();
		$(".spender_switch#spender_single").css('display', ((checked_val=='single')?'':'none'));
		$(".spender_switch#spender_average").css('display', ((checked_val=='average')?'':'none'));
		$(".spender_switch#spender_advance").css('display', ((checked_val=='advance')?'':'none'));
	});
</script>