<% if @has_account %>
	<h1><%= "#{@user.name}(id:#{@user.id})" %> 帳本列表：</h1>
	<% @user.uarelations.each do |rel| %>
		<%= link_to '帳本：'+rel.account.name, :controller => 'share_money_account', :action => 'account', :rid => rel.id %><br>
	<% end %>

	<br>
	<br>
	<br>
	<hr>
	<p>
		<%= link_to '新增帳本', url_for(:controller => 'share_money_account', :action => 'newaccount') %>
	</p>
<% else %>
	<h1>查無資料</h1>
<% end %>
<%= link_to '登出', :controller => 'share_money_account', :action => 'logout' %>