<%= form_for(:session, :controller => 'share_money_account', :action => 'dologin') do |f| %>
	<table  style='max-width:350px;border-style:hidden;'>
		<col width="150px" />
		<col width="200px" />
		<tr>
			<td><%= f.label :name %></td>
			<td><%= f.text_field :name, class: 'form-control' %></td>
		</tr>
		<tr>
			<td><%= f.label :password %></td>
			<td><%= f.password_field :password, class: 'form-control' %></td>
		</tr>
	</table>
	<%= f.submit "登入", class: "btn btn-primary" %>
<% end %>
<br>
<br>
<br>
<%= link_to '註冊', :controller => 'share_money_account', :action => 'signup' %>

