<h1>Enter account name</h1>
<%= form_for @account, :url => { :controller => 'share_money_account', :action => 'createaccount' } do |f| %>
	<%= f.label :name, "Name" %>
    <%= f.text_field :name %>

    <%= f.submit "Create" %>
<% end %>

