<h1>Enter user name</h1>
<%= form_for @user, :url => { :controller => 'share_money_account', :action => 'createuser' } do |f| %>
	<table  style='max-width:350px;border-style:hidden;'>
		<col width="150px" />
		<col width="200px" />
    	<tr>
			<td><%= f.label :name, "Name" %></td>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<td><%= f.label :name, "Password" %></td>
			<td><%= f.password_field :password %></td>
		</tr>
		<tr>
			<td><%= f.label :name, "Confirm Password" %></td>
			<td><%= f.password_field :password_confirmation %></td>
		</tr>
	</table>
    <%= f.submit "Create" %>
<% end %>

