<font color='#FF0000'><%= flash[:msg_share_money_signup] %></font>
<h1>註冊帳號</h1>
<%= form_for @user, :url => { :controller => 'share_money_account', :action => 'createuser' } do |f| %>
	<table  style='max-width:350px;border-style:hidden;'>
		<col width="150px" />
		<col width="200px" />
    	<tr>
			<td><%= f.label :name, "帳號" %></td>
			<td><%= f.text_field :name, required: true %></td>
		</tr>
		<tr>
			<td><%= f.label :name, "密碼" %></td>
			<td><%= f.password_field :password, required: true, :minlength => 6, :maxlength => 20 %></td>
		</tr>
		<tr>
			<td><%= f.label :name, "確認密碼" %></td>
			<td><%= f.password_field :password_confirmation, required: true %></td>
		</tr>
	</table>
    <%= f.submit "註冊" %>
<% end %>

