<h1> <%= @store_data.name %> <%= @store_data.phone %></h1> <h3> 建立時間：<%= @form_data.created_at %> </h3>
<table style='max-width:300px;'>
	<tr>
		<td>項目</td>
		<td>單價</td>
		<td>數量</td>
		<td>小計</td>
	</tr>
	<% @order_summary.present? and @order_summary.each do |key, item| %>
		<tr>
			<td><%= key %></td>
			<td><%= item[:price] %></td>
			<td><%= item[:count] %></td>
			<td><%= item[:price_sum] %></td>
		</tr>
	<% end %>
</table>
<h3>總價：<%= @total_price %></h3>
<table style='max-width:300px;'>
	<tr>
		<td>訂購人</td>
		<td>項目</td>
		<td>小計</td>
	</tr>
	<% @order_data_groupby_person.present? and @order_data_groupby_person.each do |owner_key, order_item| %>
		<tr>
			<td><%= owner_key %></td>
			<td>
				<% order_item[:order].present? and order_item[:order].each do |key, item| %>
					<%= key %>x<%= item %>  
				<% end %>
			</td>
			<td><%= order_item[:sum_price] %></td>
		</tr>
	<% end %>
</table>

<br />
<br />
<br />
<hr>
<%= link_to '我要定', :controller => 'lunch', action: 'show', id: @form_data.id %>

