<% @lunch_forms.present? and @lunch_forms.each do |form_item|%>
	<% store_name = LunchStore.find(form_item.store_id).name %>
	<%= link_to "訂單#{form_item.id} - #{store_name}", :controller => 'lunch', action: 'show', id: form_item.id %> <br />
<% end %>

<br />
<br />
<br />
<br />
<hr>
<%= link_to '新增訂單', :controller => 'lunch', action: 'list' %>
