<h1>訂單</h1>
<% @lunch_forms.present? and @lunch_forms.each do |form_item|%>
	<% store_name = LunchStore.find(form_item.store_id).name %>
	<%= link_to "訂單#{form_item.id} - #{store_name}", :controller => 'lunch', action: 'show', id: form_item.id %> --- 
	<%= link_to 'delete', :controller => 'lunch', action: 'remove', id: form_item.id, magicnumber: 'morshues'  %>
	<br />
<% end %>
<hr>
<h1>商店</h1>
<% @lunch_stores.present? and @lunch_stores.each do |store_item|%>
	<% store_name = store_item.name %>
	<%= link_to store_name, :controller => 'lunch', action: 'newstore', name: store_item.name %> --- 
 	<%= link_to 'delete', :controller => 'lunch', action: 'remove_store', id: store_item.id, magicnumber: 'morshues'  %>
	<br />
<% end %>


