<%= form_tag :controller => 'lunch', :action => 'updatecommodity', :method => 'post' do %>
	<%= text_field_tag :text_store_name, @store_name %>
	<%= text_field_tag :text_store_phone, @store_phone, placeholder: '無電話資料' %>
	<br />
	<table style='max-width:300px;'>
		<tr>
			<td>項目</td>
			<td>價格</td>
			<td style='width:60px;'></td>
		</tr>
		<% @commodity_data.present? and @commodity_data.each do |item| %>
			<tr>
				<td><%= item.name %></td>
				<td><%= item.price %></td>
				<td><%= submit_tag "刪除項目", :name => "deleteitem[#{item.id}]" %></td>
			</tr>
		<% end %>
	</table>
	<br />
	<%= text_field_tag :text_commodity_name, nil, placeholder: '新菜名' %>
	<%= text_field_tag :text_commodity_price, nil, placeholder: '價格' %>
	<br />
	<%= submit_tag '增加項目' %> 
	<br />
	<br />

	<%= submit_tag '更新餐廳' %> 
<% end %>

