<script><%= "alert(" if @message %>'<%= @message %>'<%= ");" if @message %></script>
<h1> <%= @store_data.name %> <%= @store_data.phone %></h1> <h3> 建立時間：<%= @form_data.created_at %> </h3>
<%= form_tag :controller => 'lunch', :action => 'updateform', :id => @form_id do %>
	<table style='max-width:300px;'>
		<tr>
			<td>項目</td>
			<td>價格</td>
			<td style='width:10px;'></td>
			<td style='width:20px;'></td>
			<td style='width:10px;'></td>
		</tr>
		<% @commodity_data.present? and @commodity_data.each do |item| %>
			<tr>
				<td><%= item.name %></td>
				<td><%= item.price %></td>
				<td><%= button_tag "-", type: 'button', :onclick => "text_num=getElementById('order_count#{item.id}');text_num.value = parseInt(text_num.value)-1;if(parseInt(text_num.value)<0)text_num.value=0;" %></td>
				<td><%= text_field_tag "text_order_value[#{item.id}]", 0, id: "order_count#{item.id}" %></td>
				<td><%= button_tag "+", type: 'button', :onclick => "text_num=getElementById('order_count#{item.id}');text_num.value = parseInt(text_num.value)+1;" %></td>
			</tr>
		<% end %>
	</table>
	<br />
	<%= text_field_tag :text_order_name, nil, placeholder: '點餐姓名' %>
	<%= label_tag '價格', nil, :id => :text_sum %>
	<br />
	<%= submit_tag '送出' %>
<% end %>

<hr>
<%= link_to "統計頁面", :controller => 'lunch', action: 'form', id: @form_id %>
