<div class='editable'>
  <%= form_for t_item, url: (local_assigns[:t_url].nil? ? t_item : t_url), remote: true do |f| %>
    <%= label_tag t_label unless local_assigns[:t_label].nil? %>
    <%= f.text_field t_attr, maxlength: 20, onblur: 'editableBlur($(this));', required: true %>
    <% unless local_assigns[:t_id].nil? %>
      <%= hidden_field_tag :edit_id, t_id %>
    <% end %>
    <%= f.submit %>
  <% end %>
</div>