<center><h1>汪仔縮網址</h1></center>


<center>
	<%= form_tag :controller => 'url', :action => 'index', :method => 'post' do %>
		<%= text_field_tag :origin_url, nil, placeholder: "原網址", size: 80 %>
		<%= button_to "給我縮", name: "btn_reduce" %>
	<% end %>

	<br />
	<% if @short_url %>
		<% d= 1 %>
		短網址：<%= link_to @short_url, @short_url %>
	<% end %>

	<br />
	<br />

	<hr />
	<H3>History</h3>
	<div>
		<table style='table-layout: fixed;'>
			<thead>
				<tr>
					<td width=40>id</td>
					<td width=200>shorter</td>
					<td width=520>origin_url</td>
					<td width=40></td>
				</tr>
			</thead>
			<tbody>
				<% @history.each do |item| %>
					<tr>
						<td><%= item.id %></td>
						<td><%= $short_url_root_path %><%= item.unique_key %></td>
						<td style='word-wrap:break-word'><%= item.url %></td>
						<td><%= link_to 'Go', $short_url_root_path+item.unique_key %></td>
					</tr>
				<% end %>				
			</tbody>
		</table>
	</div>

</center>

