<% msg_size = 'md' if local_assigns[:msg_size].nil? %>
<% msg_type = 'message' if local_assigns[:msg_type].nil? %>
<% uxmsg_title = nil if local_assigns[:uxmsg_title].nil? %>
<% uxmsg_text = '' if local_assigns[:uxmsg_text].nil? %>
<% err_msg_btn_l = nil if local_assigns[:err_msg_btn_l].nil? %>
<% err_msg_btn_r = nil if local_assigns[:err_msg_btn_r].nil? %>
<% if msg_size == 'sm' %>
  <% full_cover = false if local_assigns[:full_cover].nil? %>
  <% uxmsg_btn_num = 0 if local_assigns[:uxmsg_btn_num].nil? %>
<% else %>
  <% full_cover = true if local_assigns[:full_cover].nil? %>
  <% uxmsg_btn_num = 1 if local_assigns[:uxmsg_btn_num].nil? %>
<% end %>

var modal = $('.sysmsg');
<% if full_cover %>
  modal.css('background-color', 'rgba(0,0,0,0.4)');
<% else %>
  modal.css('background-color', '');
<% end %>
modal.html('<%= escape_javascript(render partial: "layouts/sysmsg_#{msg_size}") %>');
$('.sysmsg .close').on('click', function (e) {
  modal.hide();
  modal.empty();
});
$('.sysmsg .oux-btn').on('click', function (e) {
  modal.hide();
  modal.empty();
});
modal.show();
if (<%=uxmsg_btn_num%> == 0) {
  setTimeout(function(){
    modal.fadeOut(200);
  }, 1000);
}

var msgTitle = modal.find('.title');
msgTitle.text("<%= uxmsg_title || 'NOTICE' %>");

var msgText = modal.find('.message');
msgText.attr('class', '<%=msg_type%>');
msgText.text("<%= uxmsg_text || 'Done' %>");
msgText.html(msgText.html().replace(/\n/g,'<br/>'));

var btnNum = <%= uxmsg_btn_num %>;
var btnLeft = $('.sysmsg #sysmsg-btn-left');
if (btnNum > 1) {
  btnLeft.show();
  btnLeft.text("<%= err_msg_btn_l || 'Cancel' %>");
} else {
  btnLeft.hide();
}
var btnRight = $('.sysmsg #sysmsg-btn-right');
if (btnNum > 0) {
  btnRight.show();
  btnRight.text("<%= err_msg_btn_r || 'Confirm' %>");
} else {
  btnRight.hide();
}

<% if local_assigns[:extra].present? %>
  <%= yield %>
<% end %>