<!DOCTYPE html>
<html>
<head>
  <title>Morshues Share Book</title>
  <%= stylesheet_link_tag    'sharebook', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'sharebook', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='sharebook'>

  <%= yield %>

  <div id="sysmsg" class="sysmsg">
  </div>

</body>
</html>
